@import "reset.css";
@import "fonts.css";

body {
    width: 1200px;
    margin: auto;
}

header {
    width:100%;
    height: 150px;
    background-color: #212226;
    position: relative;
}
header h1 {
    font: normal 24px/150px 'Bowlby One', serif;
    color: #D0D7D9;
    letter-spacing: 2px;
    text-align: center;
}

#menu {
    list-style-type: none;
    height: 50px;
    background-color: #D0D7D9;
}

#menu li {
    display: block;
    float: left;
    width: 25%;
    font: normal 18px/50px 'Bowlby One', serif;
    text-align: center;
}

#menu li:hover {
    background-color:#BFD962;
    cursor: pointer;
}

main {
    margin: 20px 0;
    width: 100%;
    position: relative;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

aside {
   width: 25%;
   float: left;
   background-color: #D0D7D9;
   height: 100%;
   position: absolute;
}

#sidebar li {
    padding: 20px 15px;
    list-style: inside url("../images/ic_keyboard_arrow_right_black_24dp_1x.png");
}

#sidebar li:hover {
    background-color:#BFD962;
}

#sidebar li  a {
    font-family: Monaco, serif;
    font-weight: 900;
    font-size: 21px;
    text-decoration: none;
    position: relative;
    bottom: 6px;
    color: black;
}

section {
    width: 73%;
    float: right;
    background-color: #B0B0B0;
}

article, details {
    margin: 20px;
    font-family: Monaco, serif;
    font-size: 21px;
    line-height: 1.5;
    text-align: justify;
}

p {
    margin: 10px 0;
}

article h2 {
    font: normal 18px 'Bowlby One', serif;
    text-align: center;
}

figure#art1 {
    float: left;
    width: auto;
}

figure#art2 {
    float: right;
    width: auto;
}

figcaption {
    text-decoration: underline;
    font-size: 12px;
    text-align: center;
}

footer {
    width: 100%;
    height: 150px;
    background-color: #212226;
    font: normal 18px/150px 'Bowlby One', serif;
    color: #D0D7D9;
    letter-spacing: 2px;
    text-align: center;
}

